<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/site/dashboardLayout.html}">

<head>
    <script>
        function chooseFile(fileInput) {
            if (fileInput.files && fileInput.files[0]) {
                var render = new FileReader();
                render.onload = function (e) {
                    $('#image').attr('src', e.target.result);
                }
                render.readAsDataURL(fileInput.files[0]);
            }
        }
    </script>
</head>

<body>
    <section layout:fragment="content">
        <main>
            <div class="container my-5 py-5">
                <!-- Section: Design block -->
                <section class="">
                    <div class="row gx-lg-5">
                        <div class="col-md-6 mb-4 mb-md-0">
                            <!-- Gallery -->
                            <div class="ecommerce-gallery vertical" data-mdb-zoom-effect="true"
                                data-mdb-auto-height="true">
                                <div class="row gx-2 gx-lg-3">
                                    <div class="col-lg">
                                        <div class="lightbox">
                                            <img src="https://mdbootstrap.com/img/Photos/Slides/1.jpg"
                                                alt="Gallery image 1"
                                                class="ecommerce-gallery-main-img active w-100 rounded-4" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Gallery -->
                        </div>

                        <div class="col-md-6 mb-4 mb-md-0">
                            <!-- Details -->
                            <div>
                                <h1 class="fw-bold mb-3 h5">Sophisticated dress</h1>
                                <a href="" class="text-muted mb-3">
                                    <p class="mb-2 text-uppercase small">Dresses</p>
                                </a>

                                <h5 class="mb-3">
                                    <s class="text-muted me-2 small align-middle">$119</s><span
                                        class="align-middle">$101</span>
                                </h5>

                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Ratione accusantium harum repellendus illo mollitia similique
                                    atque vitae repudiandae animi dolor? Rem eveniet saepe
                                    deserunt aliquam. Enim incidunt quas voluptatibus perferendis.
                                </p>

                                <div class="table-responsive">
                                    <table class="table table-sm table-borderless mb-0">
                                        <tbody>
                                            <tr>
                                                <th class="ps-0 w-25" scope="row">
                                                    <strong>Model</strong>
                                                </th>
                                                <td>Shirt 5407X</td>
                                            </tr>
                                            <tr>
                                                <th class="ps-0 w-25" scope="row">
                                                    <strong>Material</strong>
                                                </th>
                                                <td>Cotton 80%</td>
                                            </tr>
                                            <tr>
                                                <th class="ps-0 w-25" scope="row">
                                                    <strong>Delivery</strong>
                                                </th>
                                                <td>USA, Europe</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <hr class="my-5" />

                                <form action="">
                                    <div class="row">
                                        <!-- Quantity -->
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <form action="" class="form-group">
                                                    <button type="button" class="form-group">-</button>
                                                    <label class="m-2">1</label>
                                                    <button type="button" class="btn">+</button>
                                                </form>
                                            </div>
                                        </div>

                                    </div>

                                    <button type="button" class="btn btn-primary btn-rounded me-2">
                                        <i class="fas fa-cart-plus me-2"></i>Add to cart
                                    </button>
                                    <button href="#!" type="button" class="btn btn-danger btn-floating"
                                        data-mdb-toggle="tooltip" title="Add to wishlist">
                                        <i class="fas fa-heart"></i>
                                    </button>
                                </form>
                            </div>
                            <!-- Details -->
                        </div>
                    </div>
                </section>
                <!-- Section: Design block -->

            </div>

        </main>
    </section>
</body>

</html>